body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-top-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-top-right {
    display: flex;
    gap: 20px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-bottom-right img {
    height: 200px;
    width: 400px;
    object-fit: cover;
    padding-left: 20px;
}

.secondary, .header-top-right a {
    font-size: 18px;
    color: #E5E7EB;
}

.body-bottom, button {
    background-color: #3882F6;
}

.body-top-top {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 20px;
}

.body-middle {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.header-bottom-left button {
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.header-top {
    padding-bottom: 50px;
}

.header, .body-top, .body-middle, .body-bottom, .footer {
    padding-left: 50px;
    padding-right: 50px;
}

.header-bottom {
    padding-bottom: 50px;
}

.footer {
    font-size: 8px;
    text-align: center;
    padding: 15px;
    color: white;
}

.body-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.body-top-bottom {
    display: flex;
    gap: 20px;
}

.body-top-bottom img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 2px solid blue;
    border-radius: 6px;
    box-sizing: border-box;
}

.caption {
    width: 150px;
}

.author {
    font-weight: 700;
    text-align: right;
    padding-right: 80px;
}

.body-bottom {
    display: flex;
    justify-content: space-around;
    margin: 50px 100px;
    color: white;
    padding: 20px;
    border-radius: 6px;
}

button.body-bottom-right {
    color: white;
    border: 1px solid white;
    padding: 1px 20px;
    font-size: 8px;
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 6px;
}