body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-top-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-top-right {
    display: flex;
    gap: 20px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-bottom-right img {
    height: 200px;
    width: 400px;
    object-fit: cover;
    padding-left: 20px;
}

.secondary, .header-top-right a {
    font-size: 18px;
    color: #E5E7EB;
}

.body-bottom-left, button {
    background-color: #3882F6;
}

.body-top-top {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.body-middle {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.header-bottom-left button {
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.header-top {
    padding-bottom: 50px;
}

.header, .body, .footer {
    padding: 0 50px;
}

.header-bottom {
    padding-bottom: 50px;
}

.footer {
    font-size: 8px;
    text-align: center;
    padding: 15px;
    color: white;
}

.body-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.body-top-bottom {
    display: flex;
}

.body-top-bottom img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}